.vscode
py-api/__pycache__/
bin/**
build/**
**/jansson/*
**/libjwt/*
**/CMakeFiles/*
**/CMakeCache.txt
**/cmake_install.cmake
**/*.a
**/build/
src/connector/libjwt/
minimal-enclave/.config_HW_RELEASE_x64
